version: "3.9" 
services: 
  elasticsearch: 
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0 
    container_name: elasticsearch 
    environment: 
      - discovery.type=single-node 
      - ES_JAVA_OPTS=-Xms512m -Xmx512m 
    ports: 
      - "9200:9200" 
  backend: 
    build: ./backend 
    depends_on: 
      - elasticsearch 
    ports: 
      - "3001:3001" 
  frontend: 
    build: ./frontend 
    ports: 
      - "3000:3000" 
